.home-icon::before {
    mask-image: url('/images/icons/home.svg');
}

.basic-icon::before {
    mask-image: url('/images/icons/basic.svg');
}

.translate-icon::before {
    mask-image: url('/images/icons/translate.svg');
}

.download-icon::before {
    mask-image: url('/images/icons/download.svg');
}

.coffee-icon::before {
    mask-image: url('/images/icons/coffee.svg');
}

.doc-icon::before {
    mask-image: url('/images/icons/doc.svg');
}

.links-icon::before {
    mask-image: url('/images/icons/links.svg');
}

.gitea-icon::before {
    mask-image: url('/images/icons/gitea.svg');
}

.about-icon::before {
    mask-image: url('/images/icons/about.svg');
}

.room-icon::before {
    mask-image: url('/images/icons/room.svg');
}
